body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 68%);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 50px;
  padding: 20px;
  background-color: hsl(0, 0%, 57%);
}

.display {
  font-size: 5rem;
  color: hsl(0, 0%, 30%);
  font-family: monospace;
  font-weight: bold;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.753);
  margin-bottom: 25px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: hsl(130, 87%, 40%);
}
.start-button:hover{
  background-color: hsl(130, 87%, 35%);
}
.stop-button {
  background-color: hsl(0, 100%, 40%);
}
.stop-button:hover {
  background-color: hsl(0, 100%, 35%);
}
.reset-button {
  background-color: hsl(234, 100%, 40%);
}
.reset-button:hover {
  background-color: hsl(234, 100%, 25%);
}